<?php

return [
    "db" => [
        "host" => "localhost",
        "port" => 3306,
        "user" => "root",
        "password" => "PASSWORD",
        "schema" => "mysql"
    ],
    "mysql_location" => "mysql", // windows "c:/SIMGOS2/mysql/bin/mysql" atau Linux "mysql"
    "my_cnf_location" => "var/tmp", // window "." or linux "/var/tmp"
    "target_directory" => ".", //"E:/projects/git-repos/simgos2/db/new"
    "except" => [
        "directory" => [
            "." => true,
            ".." => true
        ]
    ]
];